body{
	background-image:  url(../img/fondo.jpg);
	background-repeat: repeat;
	color: #fff;
	font-family: helvetica, Arial;
}
header{	
	background:url(../img/fondo_header.jpg) repeat scroll 0 0 transparent;
}
header h1{
	font-family: 'Metal Mania', cursive;
	font-size: 75pt;
	text-shadow: 2px 2px 5px #000;
}
header h1 > span{ font-size: 30pt;}
header nav{
	background: url(../img/fondo_nav.jpg);
	height: 50px;	
}
header ul{
	width: 1024px;
	margin: 0 auto;
}
header li{
	display: inline;
}
header a{
	color: #fff;
	display: block;
	float: left;
	margin-right: 20px;
	margin-top: 15px;
}
header a:hover{
	color: #330a00;
}
section#sucursales{
	min-height: 150px;
}
section.sucursal{
	width: 320px;
	float: left;
}
section.sucursal iframe{
	background-color: #9e6d24;
	padding: 7px;
	border-radius: 5px;
}